@font-face {
    font-family: 'IR';
    src: url(../fonts/Inter-Regular.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: 'MR';
    src: url(../fonts/Mulish-Regular.ttf) format(truetype);
    font-weight: 400;
}